
//FOOOTER 
footer {
    position: absolute;
    padding: 0;
    margin-top: 0px;
    background: red;
    position: relative;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: map-get($color-mizan, $key: biru);
    color: white;
    & h1{
        color: inherit;

    }
    @media #{$mobile-breakpoint} {
        height: 100px;
        bottom: 0;
    }
    @media #{$mobile-breakpoint} {
        height: 150px;
        bottom: 0;
    }
    @media #{$xtrabigdesktop-breakpoint} {
        height: 150px;
        bottom: 0;
    }
}


//FOOTER MOBILE ONLY
#mizan-footer-mobile {
    display: block;
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
    & img {
        padding: 10px 0;
        width: 30%;
    }
    & div {
        margin-bottom: 5px;
    }
    & a {
        text-decoration: none;
        color: white;
        &:hover {
          text-shadow: 0 0 5px black;  
        }
    }
    @media #{$tablet-breakpoint} {
        display: none;
       
    }
}

//MIZAN FOOTER TABLET
#mizan-footer-tablet {
    height: 120px;
    padding-top: 20px;
    padding-bottom:  20px;
    display: none;
    & img {
        width: 40%;
    }
    @media #{$tablet-breakpoint} {
        display: block;
    }
    @media #{$xtrabigdesktop-breakpoint} {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
}
#mizan-footer {
    overflow: hidden;
    &-sitemap {
        float: left;
        font-size: 12px;
        padding-left: 50px;

        & div {
            & a {
                text-decoration: none;
                color: white;
                &:hover {
                    text-shadow: 0 0 3px white;
                }
            }
        }
        @media #{$xtrabigdesktop-breakpoint} {
            font-size: 20px;
        }
    }
    &-onlinestore {
        text-align: center;
        font-size: 12px;
        font-style: italic;
        border-right: 2px solid white;
        border-left: 2px solid white;
        height: 110px;
        text-align: center;
        & img {
            margin: 5px;
            width: 40%;
        }
        @media #{$desktop-breakpoint} {
            font-size: 14px;
            & img {
                width: 25%;
            }
        }
        @media #{$xtrabigdesktop-breakpoint} {
            height: 120px;
            font-size: 20px;
            & img {
                width: 30%;
            }
        }
    }
    &-tengah {
        font-size: 8px;
        font-style: italic;
        text-align: center;
        line-height: 0;
        
        & img {
            width: 40%;
            margin-bottom: 10px;
        }
        @media #{$desktop-breakpoint} {
            line-height: 0.2;
            font-size: 10px;
  
        }
        @media #{$xtrabigdesktop-breakpoint} {
            font-size: 16px;
            line-height: 0.3;

        }
    }
    &-sosmed {
        border-right: 2px solid white;
        border-left: 2px solid white;
        height: 110px;
        font-size: 10px;
        font-style: italic;
        text-align: center;
        line-height: normal;
        & input {
            border: 0 solid #000000;
        }
        img {
            margin: 10px 5px 10px 5px;
            width: 40px;
        }
        p {
            margin: 10px;
        }
        & .fa {
            padding: 8px;
            font-size: 15px;
            width: 30px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
            &-facebook, &-twitter, &-youtube {
                background: white;
                color: $color-main;
            }
        }
        & .btn {
            margin: 0;
            height: 20px;
            font-size: 10px;
            padding-top: 5px;
            color: $color-judul;
            
        }
        @media #{$desktop-breakpoint} {
            font-size: 14px;
            & .btn {
                margin: 5px;
            }
        }
        @media #{$xtrabigdesktop-breakpoint} {
            font-size: 16px;
            height: 120px;
            line-height: 1;

            & span {
            }
            & .btn {
                font-size: 16px;
                margin: 0;
                height: 40px;
                width: 240px;
            }
            & input {
                width: 200px;
                height:30px;
                margin-bottom: 10px;
                margin-right: 10px;
            }
            & .fa {
                font-size: 30px;
                padding-top: 15px;
                width: 60px;
                height: 60px;
            }
        }
        
    }
    &-shaliha {
        display: inline-block;
        text-align: center;
        padding-top: 10px;

        span {
            color: white;
            text-decoration:none;
        }
        img {
            width: 30%;
            @media #{$desktop-breakpoint} {
                width: 25%;
      
            }
        }
    }
}

.col-lg-5th {
    position: relative;
    width: 20%;
    float: left;
}
.btn-mizan-putih{
    width: 50%;
    
}
