

.navbar {
    // background: pink;
     height: 40px;
     margin: 0;
     @media #{$desktop-breakpoint} {
       margin-left: 0px;
   }
 }
#box {
   background: #F46864;
}



#container-logo-main {
   & .navbar-brand{
       padding: 10px 0 5px 10px;
       width: 90px;
       transition: 0.5s ease;
       @media #{$mobile-breakpoint} {
           width: 100px;
       }
       @media #{$tablet-breakpoint} {
           width: 110px;
           margin: 5px 0 0 5px;
       }
       @media #{$desktop-breakpoint} {
           display: block;
           width: 140px;
           margin : 0 45%;
       }
       @media #{$bigdesktop-breakpoint} {

           width: 160px;
       }

   }
}
#container-logo-second {
   width: 50%;
   margin: 0 auto;
   top: 0px;
   position: relative;
   
   & .navbar-brand{
       display: none;
       padding: 10px 0 5px 10px;
       z-index: 3;
       position: absolute;
       @media #{$mobile-breakpoint} {
           width: 100px;
       }
       @media #{$tablet-breakpoint} {
           display: block;
           width: 110px;
           margin : 0 35% 0 35%;
       }
       @media #{$desktop-breakpoint} {
           //display: block;
           position: absolute;
           width: 130px;
           top: 0px;
           left: 0;
           margin-left: -45%;
           margin-top: -10px;

       }

   }
}
#logo-mizan {
   width: 100%;
   margin: 0;
   padding: 0;
   
}
#logo-keluarga {
   width: 100%;
   margin: 0;
   padding: 0;

}
#container-box-right{
   width: auto;
   float: right;
   margin: 0px;
   & div {
       background: $color-main;
       height: 40px;
       box-sizing: border-box;
       border-radius: 20px 0 0 20px;

       & .list-inline {
           margin: 0;
           padding: 4px;
           & li {
               padding: 0;
               list-style-type: none;
               & a {
                   width: auto;
                   & img {
                       width: 32px;
                       transition: transform 0.3s ease;
                       &:hover {
                        transform: scale(1.05);
                       }
                       &:active {
                        transform: scale(0.98);
                       }
                   }

               }
           }
       }
   }
   
   @media #{$desktop-breakpoint} {
       & div {
           height: 55px;
           border-radius: 40px 0 0 40px;
           & .list-inline {
               padding-top: 5px;
               & li {
                   & a {
                       & img {
                           width: 45px;
                       }
                   }
               }
           }
       }
   }
   @media #{$bigdesktop-breakpoint} {
       & div {
           height: 60px;
           border-radius: 40px 0 0 40px;
           & .list-inline {
               padding-top: 2px;
               & li {
                   & a {
                       & img {
                           width: 55px;
                       }
                   }
               }
           }
       }
   }
}

//---------------MENU

#mizan-menu {
   min-height: 40px;
   line-height : 20px;
   margin-left: 0px;
   & div {
       width: 100%;
       padding: 0;
       margin: 0;
       & ul {
           list-style-type: none;
           display: grid;
           grid-template-columns: auto auto auto auto auto;
           overflow: hidden;
           margin:0;
           padding: 0;
           width: auto;
           box-sizing: border-box;
           
           & li {         
               margin: 0;
               border: none;
               float: left;
               height: 40px;
               font-size: 12px;
               text-align: center;
               vertical-align: middle;
               line-height: 1;
               transition: all 0.5s ease-in-out;//animation
               min-width: 50px;
               & a {
                   height: 100%;
                   display: block;
                   color: white;
                   text-align: center;
                   text-decoration: none;

                   & p {
                        padding-top: 10px;
                   }
                   &:hover {
                       background: rgba(255, 255, 255, 0.1);
                   }
                   &:active {
                       background: rgba(0, 0, 0, 0.1);
                   }
               }
               &:nth-child(1) {
                   background:map-get($color-mizan, merahjambu );
               }
               &:nth-child(2) {
                   background: map-get($color-mizan, oren );
               }
               &:nth-child(3) {
                   background:map-get($color-mizan, biru );
               }
               &:nth-child(4) {
                   background:map-get($color-mizan, merah );
  
               }
               &:nth-child(5) {
                   background: map-get($color-mizan, ungu );

               }
               & .dropdown-content {

                   display: none;
                   position: absolute;
                   background-color: inherit;
                   width: 20%;
                   box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.3);
                   font-size: 10px;                   
                   & a {
                       height: 30px;
                       padding-top: 5px;
                       color : white;

                       & p {
                           padding: 5px;
                       }
                   }
               }
               &:hover { 
                    transition: display 1s ease-in-out;
             
                   .dropdown-content {
                       display: block;
                    //   z-index: 1;
                    //   opacity: 100;
                       max-height: 200px;
                   }
               }
           }
       }
   }
//MEDIA QUERY MIZAN MENU
   @media #{$mobile-breakpoint} {
    & div {
        & ul {
             & li {
   
                min-width: 90px;
                & a {
                    font-size: 12px;
                    & p {
                         padding-top: 15px;
                    }
                }
                }
            }
        }
   }
   @media #{$tablet-breakpoint} {
       width: 500px;
       margin:20px auto 0 auto;
       & div {
           & ul {
                & li {
                    height: 30px;
                    min-width: 95px;
                    max-width: 100px;
                        & a {
                            height: 30px;
                            & p {
                                padding: 10px;
                            }
                        }
                    &:nth-child(1) {
                        border-radius: 20px 0 0 20px;
                    }
                    &:nth-child(4) {
                        & a {
                            & p {
            
                            }
                        }
                    }
                    &:nth-child(5) {
        
                        border-radius: 0 50px 50px 0;
                        & .dropdown-content {
                        width: 18%;
                        }
                    }
                    & .dropdown-content {
                    
                        display: none;
                        position: absolute;
                        background-color: inherit;
                        width: 20%;
                        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.3);
                        z-index: 1;
                        & a {
                            color : white;
                        }
                    }
               }
               
           }
       }
   }
   @media #{$desktop-breakpoint} {
       width: 600px;
       margin:20px 20px 0 20px;
       & div {
           & ul {
            height: 35px;
            & li {
                min-width: 110px;
                max-width: 120px;
            }
            & a {
                height: 35px;
                font-size: 12px;
                & p {
                    padding: 10px;
                }
            }
           }
       }
       & a {
           font-size: 16px;
       }
   }
   @media #{$bigdesktop-breakpoint} {
       width: 700px;
       margin:20px 20px 0 20px;
       & div {
           & ul {
               & li {
                    height: 35px;
                    min-width: 130px;
                    max-width: 140px;
                    & a {
                        height: 35px;
                        font-size: 16px;
                        & p {
        
                        }
                    }
                    & .dropdown-content {
      
                        width: 20%;

                        & a {
                        height: 35px;
                        padding-top: 5px;

                        }

                    }
                }
                    
   
                }    
             }
       & a {
           font-size: 30px;
       }
   }


}
