@import '../bootstrap/customizations';
@import '../bootstrap/clear';
@import '_header';
@import '_footer';
@import 'comment';
//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

h1 {
    //margin: 0;
}
#mizan-container-detailpage {
    padding: 0;

    margin: auto auto 20px auto;
}
#mizan-detailpage-detailpage {
    span {
        img {

        }
    }
}
#mizan-detailpage-judul-detailpage {
    text-align: center;
    font-size: 14px;

}
.mizan-container-image-main {
    width: 100%;
    height: 500px;
    img {
        width: 100%;
        height: 500px;
    }
    .mizan-image-main {
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        height: 150px;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.01);
        }
        @media #{$mobile-breakpoint} {
            height: 200px;
        }
        @media #{$tablet-breakpoint} {
            height: 250px;
        }
        @media #{$desktop-breakpoint} {
            height: 300px;
        }
        @media #{$bigdesktop-breakpoint} {
            height: 350px;
        }
        @media #{$xtrabigdesktop-breakpoint} {
            height: 450px;
        }
    }
    
}


.mizan-container-image-detailpage {
    width: 100%;
    height: 300px;
    img {
        width: 100%;
        height: 300px;
    }
}
.mizan-container-text-detailpage{
    margin-top: 25px;
    font-size: 14px;
    @media #{$bigdesktop-breakpoint} {
        font-size: 16px;
    }
    @media #{$bigdesktop-breakpoint} {
        font-size: 18px;
    }
}


.mizan-container-comment-detailpage {
    & form {
        padding: 25px;
    }
}

#mizan-form-comment-detailpage {
    margin: 25px;
    margin-bottom: 50px;
}

#mizan-container-promo-detailpage {
    text-align: center;
    div {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
}

.mizan-text-comment-detailpage {
    font-size: 12px;
    margin-bottom: 50px;
    @media #{$tablet-breakpoint} {
        font-size: 16px;
    }
}

#mizan-social-media-detailpage {
    text-align: center;

    .fa {
        padding: 10px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;

        &-facebook {
            background: #3B5998;
            color: white;
        }
        &-twitter {
            background: #55ACEE;
            color: white;
        }
        &-google {
            background: #dd4b39;
            color: white;
        }
        &-link {
            background: grey;
            color: white;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        &:active {
            transform: scale(0.98);
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
    }
  

}

//MIZAN WRAPPER
// promo
//MIZAN-WRAPPER
#mizan-container-detailpage {
    &  .mizan-wrapper {
        // padding: 10px;
         cursor: pointer;
         //padding-bottom: 40px;
     
        // padding-left: 40px;
         //padding-top: 40px;
         position: relative;
         //margin-bottom: 10px;
         width: 100%;
         @media #{$mobile-breakpoint} {
             margin-bottom: 20px;
         }
         @media #{$tablet-breakpoint} {
             margin-bottom: 35px;
     
         }
         @media #{$desktop-breakpoint} {
      
      
         }
         @media #{$bigdesktop-breakpoint} {
          //   margin-bottom: 55px;
            // width: 320px;
     
         }
     
     
         transition: box-shadow 0.5s ease, transform 0.2s ease;
     
         &:hover {
      
             box-shadow: 0px 10px 20px  rgba(0,0,0,0.2);
             @media #{$mobile-breakpoint} {
                 box-shadow: 0px 20px 30px  rgba(0,0,0,0.2);
             }
             @media #{$tablet-breakpoint} {
                 box-shadow: 0px 30px 50px  rgba(0,0,0,0.2);
             }
             @media #{$desktop-breakpoint} {
             }
             @media #{$bigdesktop-breakpoint} {
             }
         }
         &:active {
             transform: scale(0.95);   
             box-shadow: 0px 0px 20px  rgba(0,0,0,0.8);  
         }
         & .btn-kategori {
             position: absolute;
             top: 65px;
             left: 85px;
             height: auto;
             border-radius: 20px;
             font-size: 6px;
             padding: 5px;
             min-width: 40px;
            // margin-top: 10px;
             @media #{$mobile-breakpoint} {
                 top: -10px;
                 left: 15px;
                 font-size: 8px;
                 min-width: 60px;  
                 font-size: 6px;      
             }
             @media #{$tablet-breakpoint} {
                    min-width: 60px;
                    top: 90px;
                    left: 100px;
             }
             @media #{$desktop-breakpoint} {
                min-width: 80px;
                top: 110px;
                left: 95px;
             }
             @media #{$bigdesktop-breakpoint} {
                 min-width: 80px;
                 top: 140px;
                 left: 120px;
             }
             @media #{$xtrabigdesktop-breakpoint} {
                 font-size: 16px;
                 min-width: 120px;
                 top: 200px;
                 left: 140px;
             }
         }  
     }
    & .mizan-image-card {
         padding: 0;
         width: 100%;
         height: 100%;
     }
     &  .mizan-image {
         background-size: cover; 
         background-position: center; 
         background-repeat: no-repeat;
         height: 100px;
         transition: all 0.5s;
         &:hover {
             transform: scale(1.01);
         }
         @media #{$mobile-breakpoint} {
             height: 200px;
         }
         @media #{$tablet-breakpoint} {
             height: 130px;
         }
         @media #{$desktop-breakpoint} {
             height: 150px;
         }
         @media #{$bigdesktop-breakpoint} {
             height: 180px;
         }
         @media #{$xtrabigdesktop-breakpoint} {
             height: 250px;
         }
     
     }
     &  .mizan-text-card {
     
         padding: 20px 10px 20px 10px;
         transition: all 0.5s;
         height: auto;
         & a {
             text-decoration: none;
             transition: text-shadow 0.3s ease;
             &:hover {
                 text-shadow: 0 0 2px $color-main;
     
             }
             h1 {
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 5px;
                @media #{$mobile-breakpoint} {
                    font-size: 14px;
                }
                @media #{$tablet-breakpoint} {
                    font-size: 16px;
                }
                @media #{$desktop-breakpoint} {
                    font-size: 16px;
                }
                @media #{$bigdesktop-breakpoint} {
                    font-size: 16px;
                    
                }       
                @media #{$xtrabigdesktop-breakpoint} {
                    font-size: 18px;
                    
                }       
             }
         }
         & p {
             //  margin: 10px 10px 10px 10px;
               font-size: 12px;
               @media #{$mobile-breakpoint} {
                   font-size: 12px;
               }
               @media #{$tablet-breakpoint} {
                   font-size: 14px;
               }
               @media #{$desktop-breakpoint} {
                    font-size: 14px;
               }
               @media #{$bigdesktop-breakpoint} {
                   font-size: 16px;
               }
               
           }
     }
}


 .tags-detailpage {
     text-align: center;
     margin: 10px 0;
     font-size: 10px;
     @media #{$mobile-breakpoint} {
    }
    @media #{$tablet-breakpoint} {
        margin: 20px 0;
        font-size: 12px;
    }
    @media #{$desktop-breakpoint} {
         font-size: 14px;
    }
    @media #{$bigdesktop-breakpoint} {
        font-size: 14px;
    }
 }
 .row {
     overflow: hidden;
 }
