@import '../bootstrap/customizations';
@import '../bootstrap/clear';
@import '_header';
@import '_footer';
//@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.mizan-container {
    min-height: 100vh;
}

.owl-dots {
    bottom: 20px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

#mizan-owl-video{
    width: 200px;
    margin: auto;
    overflow: hidden;

    @media #{$mobile-breakpoint} {
        width: 400px;
        text-align: center;
    }
    @media #{$tablet-breakpoint} {
        width: 700px;
        text-align: center;
    }
    @media #{$desktop-breakpoint} {
        width: 600px;
        text-align: center;
    }
    @media #{$bigdesktop-breakpoint} {
        width: 600px;
        text-align: center;
    }
}
.owl-stage-outer {
    width: 100%;
    padding: 0;
    margin: 0;
}
.owl-carousel {
    text-align: center;
}
.owl-nav{

    margin: 0 auto;
    color: $color-main;
    font-size: 20px;
    padding: 20px;
    @media #{$mobile-breakpoint} {
        font-size: 20px;
        padding: 20px;
    }
    @media #{$tablet-breakpoint} {
        font-size: 30px;
        padding: 30px;
    }
    @media #{$desktop-breakpoint} {
        font-size: 40px;
        padding: 40px;
    }
    @media #{$bigdesktop-breakpoint} {
        font-size: 50px;
        padding: 50px;
    }
    .owl-next {
        margin: 0 50px;
        border: none;
        transition: transform 0.5s ease;
        &:focus{
            outline: none;

        }
        &:active{
            transform: scale(0.7);

        }
     
    }
    .owl-prev {
        transition: transform 0.5s ease;
        &:focus{
            outline: none;

        }
        &:active{
            transform: scale(0.7);

        }

    }
}
.item {
    width: 100%;
    height: auto;
}
//--------------------------------------
#container-carousel {
    padding-top: 10px;
}
.carousel-indicators, .carousel-control {
    display: none;
    @media #{$mobile-breakpoint}{
        display: none;
    }
    @media #{$tablet-breakpoint}{
        display: block;

    }
    @media #{$tablet-breakpoint}{
    }
    @media #{$bigdesktop-breakpoint}{
    }
    @media #{$xtrabigdesktop-breakpoint}{
        
    }
}
#mizan-carousel {
    display: none;
    & .item {
        & img {
            width: 100%;
            @media #{$mobile-breakpoint}{
                display: none;
            }
            @media #{$tablet-breakpoint}{
                display: block;
                height: 350px;
            }
            @media #{$tablet-breakpoint}{
                height: 400px;
            }
            @media #{$bigdesktop-breakpoint}{
                height: 500px;
            }
            @media #{$xtrabigdesktop-breakpoint}{
                height: 600px;
                
            }
        }    
    }
    @media #{$mobile-breakpoint}{
        display: block;
    }
    @media #{$tablet-breakpoint}{
        display: block;
    }
    @media #{$bigdesktop-breakpoint}{
        display: block;
    }
}

.row {
    padding: 0;
    //background: red;'
    margin: 0;
}





//JUDUL KATEGORI

#mizan-judul-kategori, #mizan-judul-populer, #mizan-judul-video, #mizan-judul-promosi{
    text-align: center;
    pointer-events: none;

    @media #{$mobile-breakpoint}{
        text-align: center;
    }
    @media #{$tablet-breakpoint}{
        text-align: center;
    }
    @media #{$desktop-breakpoint}{
        text-align: left;
    }
    @media #{$bigdesktop-breakpoint}{
        text-align: left;

    }
}


#mizan-container-home {
    margin-bottom: 15px;
    display: table; 

    @media #{$tablet-breakpoint}{
        margin-bottom: 55px;

    }
    & .col-lg-3 {
        padding: 10px;

    }
    & .col-lg-6 {
        padding: 0 0px;

    }
    & .col-lg-8 {
        padding: 0 20px 0 0;
    }
    & .col-lg-12 {
        padding: 0 20px 0 0;
    }

}
#kategoriwrapper {
    display: block;
    @media #{$tablet-breakpoint}{
       display: table-header-group;         
    }  
}

.mizan-row {
 
    #mizan-populer {
        &-1, &-3 {
            padding-right: 0px;
            @media #{$tablet-breakpoint}{
                padding-right: 10px;            
            }
            @media #{$desktop-breakpoint}{
                padding-right: 15px;            
            }
            @media #{$bigdesktop-breakpoint}{
                padding-right: 15px;            
            }
        }
        &-2, &-4 {
            padding-left: 0px;
            @media #{$tablet-breakpoint}{
                padding-left: 10px;            
            }
            @media #{$desktop-breakpoint}{
                padding-left: 15px;            
            }
            @media #{$bigdesktop-breakpoint}{
                padding-left: 15px;            
            }        
        }
    }
}

//MIZAN KATEGORI BOX
#mizan-kategori-box {

    text-align: center;
    transition:  1s ease-in-out;
    & img {
        width: 100%;
        height: 100%;

        cursor: pointer;
        transition: box-shadow 0.5s ease, transform 0.2s ease;
        &:hover {
            box-shadow:  0px 0px 30px  rgba(0,0,0,0.2);  
            transform: scale(1.01);   

        }
        &:active {
            transform: scale(0.95);   
            box-shadow: 0px 0px 20px  rgba(0,0,0,0.8);  
        }
    }
}


//HEADING
 h1 {
    padding: 0;
    color: map-get($map: $color-mizan, $key:judul );
    font-weight: bold;
    font-size: 18px;
    @media #{$mobile-breakpoint} {
        font-size: 18px;
    }
    @media #{$tablet-breakpoint} {
        font-size: 18px;
    }
    @media #{$desktop-breakpoint} {
        font-size: 20px;
    }
    @media #{$bigdesktop-breakpoint} {
        font-size: 24px;
    }
}
//MIZAN-WRAPPER
.mizan-wrapper {
   // padding: 10px;
    cursor: pointer;
    padding-bottom: 40px;

   // padding-left: 40px;
    //padding-top: 40px;
    position: relative;
    margin-bottom: 10px;
    min-height: 300px;
    @media #{$mobile-breakpoint} {
        margin-bottom: 20px;
    }
    @media #{$tablet-breakpoint} {
        margin-bottom: 35px;

    }
    @media #{$desktop-breakpoint} {
        margin-bottom: 45px;
    }
    @media #{$bigdesktop-breakpoint} {
        margin-bottom: 55px;
    }


    transition: box-shadow 0.5s ease, transform 0.2s ease;

    &:hover {
 
        box-shadow: 0px 10px 20px  rgba(0,0,0,0.2);
        @media #{$mobile-breakpoint} {
            box-shadow: 0px 20px 30px  rgba(0,0,0,0.2);
        }
        @media #{$tablet-breakpoint} {
            box-shadow: 0px 30px 50px  rgba(0,0,0,0.2);
        }
        @media #{$desktop-breakpoint} {
        }
        @media #{$bigdesktop-breakpoint} {
        }
    }
    &:active {
        transform: scale(0.95);   
        box-shadow: 0px 0px 20px  rgba(0,0,0,0.8);  
    }
    & .btn-kategori {
        position: absolute;
        top: -10px;
        left: 15px;
        height: auto;
        border-radius: 20px;
        font-size: 6px;
        padding: 5px;
        min-width: 40px;
       // margin-top: 10px;
        @media #{$mobile-breakpoint} {
            top: -10px;
            left: 15px;
            font-size: 8px;
            min-width: 40px;  
            font-size: 6px;      
        }
        @media #{$tablet-breakpoint} {
            min-width: 60px;    
            font-size: 8px;
        }
        @media #{$desktop-breakpoint} {
            min-width: 80px;
        }
        @media #{$bigdesktop-breakpoint} {
            min-width: 80px;
            top: 0px;
            left: 35px;
        }
    }  
}
.mizan-image-card {
    padding: 0;
    width: 100%;
    height: 100%;
}
.mizan-image {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 150px;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.01);
    }
    @media #{$mobile-breakpoint} {
        height: 240px;
    }
    @media #{$tablet-breakpoint} {
        height: 200px;
    }
    @media #{$desktop-breakpoint} {
        height: 250px;
    }
    @media #{$bigdesktop-breakpoint} {
        height: 300px;
    }

}
.mizan-text-card {

    padding: 0 20px 0px 20px;
    transition: all 0.5s;
    & a {
        text-decoration: none;
        transition: text-shadow 0.3s ease;
        &:hover {
            text-shadow: 0 0 2px $color-main;

        }
    }
    & p {
        //  margin: 10px 10px 10px 10px;
          font-size: 12px;
          @media #{$mobile-breakpoint} {
              font-size: 12px;
          }
          @media #{$tablet-breakpoint} {
              font-size: 14px;
          }
          @media #{$desktop-breakpoint} {
              font-size: 16px;
          }
          @media #{$bigdesktop-breakpoint} {
              font-size: 18px;
          }
      }
}
//END MIZAN WRAPPER

//VIDEO SECTION


#mizan-video-box {
    & div {

        & div {
            @media #{$desktop-breakpoint} {
               //text-align: center;
            }
            
            & iframe {
                transition: transform 0.5s ease-out;
                width: 100%;
                @media #{$mobile-breakpoint} {
                    width: 100%;
                    height: auto;
                }
                @media #{$tablet-breakpoint} {
                    width: 90%;
                    height: auto;
                }
                @media #{$desktop-breakpoint} {
                    width: 90%;
                    height: auto;
                }
                @media #{$bigdesktop-breakpoint} {
                    width: 90%;
                    height: auto;
                }
                &:hover {
              //      transform: scale(1.05);   
        
                }
            }
            & h1 {
                a {
                    text-decoration: none;
                    color: map-get($map: $color-mizan, $key: judul );
                    transition: text-shadow 0.3s ease-in-out;
                    &:hover {
                        text-shadow: 0px 0px 5px $color-shaddow ;
                        color: white;
                    }
                }

            }
        }


    }

    


}

//MIZAN PROMOSI BOX
#mizan-promosi-box {

    & div {
        text-align: center;
        & img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            cursor: pointer;
            @media #{$mobile-breakpoint} {
                
            }
            @media #{$tablet-breakpoint} {
                width: 90%;
                height: auto;
            }
            transition: box-shadow 0.5s ease, transform 0.2s ease;

            &:hover {
                box-shadow:  0px 0px 50px  rgba(0,0,0,0.2);  
            }
            &:active {
                transform: scale(0.95);   
                box-shadow: 0px 0px 20px  rgba(0,0,0,0.8);  
            }

        }
    }
}

#mizan-social-media {
    text-align: center;

    .fa {
        padding: 10px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        &-facebook {
            background: #3B5998;
            color: white;
        }
        &-twitter {
            background: #55ACEE;
            color: white;
        }
        &-youtube {
            background: #dd4b39;
            color: white;
        }
    }
    @media #{$tablet-breakpoint} {
        display: none;
    }
}
