@import '../bootstrap/customizations';
@import '../bootstrap/clear';
@import '_header';
@import '_footer';

.container-fluid{
    overflow: hidden;
}
body {
   
}
#mizan-header-image{
    img {
        width: 100%;
        height: 350px;;
    }
}
.mizan-container-profilpage{
    margin-bottom: 55px;
}


//CARD
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    margin: 4px;
    font-size: 24px;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    display: inline-block;
    h4 {
        font-size: 10px;
    }
    &-text {
        font-size: 8px;

        @media #{$mobile-breakpoint} {
            margin: 5px;
            font-size: 10px;
            h4 {
                font-size: 14px;
            }
        }
        @media #{$tablet-breakpoint} {
            font-size: 12px;
            margin: 10px;
            h4 {
                font-size: 18px;
            }
        }
        @media #{$desktop-breakpoint} {
            font-size: 12px;
            margin: 10px;
            h4 {
                font-size: 18px;
            }
        }
    }
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  

#mizan-id-profilpage {
    & div {

    }
}
.text-profile {
    font-size: 16px;
    color: $color-judul;
    padding-top: 10px;
    padding-top: 10px;
    margin: 0 20px;
    @media #{$mobile-breakpoint} {
        margin-left:  20px;
        margin-right:  20px;
    }
    @media #{$tablet-breakpoint} {
        margin-left:  50px;
        margin-right:  50px;
    }

}

#mizan-id-team {
    & .col-lg-3 {
        padding: 0;
    }
}

.mapouter{
    display: none;
    @media #{$tablet-breakpoint} {
        margin-top: 55px;
        display: block;
        text-align:right;
        height:300px;
        width:100%;
    }
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:100%;
}
.mizan-alamat-image{

    display: inline-block;
}
    
#mizan-alamat {

    & .col-md-6 {
        padding: 0;
        margin: 0;
        & img {
            width: 600px;
            height: 300px;
        }
    }
}

#mizan-team {
    margin: 25px;
}