@import '../bootstrap/customizations';
@import '../bootstrap/clear';
@import '_header';
@import '_footer';

h1 {
    margin: 0;
    padding: 0;
}

#mizan-container-home {
    h1 {
        margin: 40px auto  40px auto;
        font-weight: bold;
    }
}

#crop-image {
    overflow: hidden;
    position: relative;
    width: 30%x;
    text-align: center;
    margin: auto;
    & img {
        width: 100%;
        transition: transform 0.5s ease;
        cursor: pointer;
        &:hover {
           // transform: scale(1.2);
        }
    }
}
#crop-news {
    //padding: 50px;
    //padding-left : 300px;
    & a {
        text-decoration: none;
        
       &:hover {
           color: white;
           text-shadow: 0 0 5px $color-main;
       }
    }
    & h1 {
        margin-top: 10px;
        font-weight: normal;
        &:hover {
            color: white;
        }

    }
}



#mizan-container-subpage {
    padding: 0;
    margin: auto auto 20px auto;
}

.mizan-container-news {
    padding: 25px 0;
    cursor: pointer;
    margin-bottom: 20px;
    transition: box-shadow 0.5s ease;
    &:hover {
        box-shadow: 0 10px 10px  rgba(62,155,213, 0.1);
    }
}
#mizan {
    &-author {
        float: left;
    }
    &-date {
        margin: 0;
    }
}



