<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /></head>
<body>
        <div>
                <nav class="navbar">
                    <div class="">
                        <div class="" id="container-logo-main">
                            <a class="navbar-brand" href="#"><img id="logo-mizan" src=<%= require("./image/logo-mobile.png") %> /></a>
                        </div>
                        <div class="" id="container-logo-second">
                            <a class="navbar-brand" href="#"><img id="logo-keluarga" src=<%= require("./image/keluarga.png") %> /></a>
                        </div>
                        <div class="navbar-right"  id="container-box-right">
                            <div>
                                <ul class=" list-inline">
                                    <li><a href="#"><img src=<%= require("./image/circle-lovequran.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-nabiku.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-halobalita.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-bocahmuslim.png") %>></a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </nav>
                <nav class="navbar"  id="mizan-menu">
                    <div class=""> <!--dropdwon-->
                        <ul>
                            <li><a href="#"><p>Home</p></a></li>
                            <li class="">
                                <a href="#"> <p>Parenting&nbsp</p> </a>
                                <div class="dropdown-content">
                                    <a href="#"><p> Edukasi Anak</p></a>
                                    <a href="#"><p>Dunia Anak</p></a>
                                    <a href="#"><p>Kesehatan</p></a>
                                </div>
                            </li>
                            <li class="">
                                <a href="#"><p> &nbsp Shaliha &nbsp</p> </a>
                            </li>
                            <li class="">
                                <a href="#"> <p> Aku Jadi &nbsp <br>Tahu </p></a>
                                <div class="dropdown-content">
                                    <a href="#"><p>Edukasi A</p></a>
                                    <a href="#"><p>Dunia Ana</p></a>
                                    <a href="#"><p>Kesehatan</p></a>
                                </div>
                            </li>
                            <li class="">
                                <a href="#"><p>  Produk</p></a>
                                <div class="dropdown-content">
                                    <a href="#"><p> Paket </p></a>
                                    <a href="#"><p> Retail</p></a>
          
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
        </div>
        <ul class="breadcrumb ">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pictures</a></li>
                <li><a href="#">Summer 15</a></li>
                <li>Italy</li>
              </ul>
        <!-- STARTS HERE -->
        <div class="mizan-container">
            <div class="container-fluid mizan-padding-subpage">    

                <div class="row" id="mizan-container-detailpage">
                    <div class=" col-xs-12 col-md-12 col-lg-12 ">
                            <div class="col-xs-12 cols-sm-12 col-md-9 col-lg-9"  id="mizan-detailpage">
                                <div id="mizan-detailpage-judul-detailpage">
                                    <a href=""> <h4>KATEGORI</h4></a>
                                    <h1>JUDUL ARTIKEL</h1>
                                    <h5>TANGGAL</h5>
                                    <h6>Author</h6>
                                </div>
                                <span class="mizan-container-image-main">
                                        <div class="mizan-image-main" style="background-image: url(https://placeimg.com/600/300/any)">
                                        </div>                                
                                </span>
                                <div class="mizan-container-text-detailpage">
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    
                                </div>
                                <hr>
                                <div class="col-xs-12" id="mizan-social-media-detailpage">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-google"></a>
                                        <a href="#" class="fa fa-link"></a>
                                </div>

                                <div class="col-md-12">
                                        <div class="btn btn-mizan-biru no-margin tags-detailpage">TAGS</div>
                                        <div class="btn btn-mizan-biru no-margin tags-detailpage">TAGS</div>
                                        <div class="btn btn-mizan-biru no-margin tags-detailpage">TAGS</div>
                                        <div class="btn btn-mizan-biru no-margin tags-detailpage">TAGS</div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="col-lg-6 col-md-6 col-sm-6" id="mizan-populer-1">
                                            <div class="mizan-wrapper">
                                                <div class="mizan-image-card">
                                                    <div class="mizan-image" style="background-image: url(https://placeimg.com/600/300/any)">
                                                    </div>
                                                </div>
                                                <div class="mizan-text-card">
                                                    <a href=""><h1>Mengajarkan anak cinta membaca</h1></a>
                                                    <p>Kedekatan Bunda dan si Buah Hati  Kedekatan Bunda dan si 
                                                            More</p>
                                                </div>
                                                <span class="btn btn-mizan-oren btn-kategori">PARENTING</span>
                                            </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6" id="mizan-populer-1">
                                            <div class="mizan-wrapper">
                                                <div class="mizan-image-card">
                                                    <div class="mizan-image" style="background-image: url(https://placeimg.com/600/300/any)">
                                                    </div>
                                                </div>
                                                <div class="mizan-text-card">
                                                    <a href=""><h1>Mengajarkan anak cinta membaca</h1></a>
                                                    <p>Kedekatan Bunda dan si Buah Hati  Kedekatan Bunda dan si 
                                                            More</p>
                                                </div>
                                                <span class="btn btn-mizan-oren btn-kategori">PARENTING</span>
                                            </div>
                                    </div>
                                </div>
                                 
                          
                                <!-- COMENT-->
                                <div class="col-md-12">
                                    <form action="/action_page.php" class="mizan-form-comment">
                                        <label for="subject">COMMENT</label>
                                        <textarea class="form-control" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                                    
                                        <input type="submit" value="Submit" class="pull-right">
                                    </form>
                                </div>
       
                                <!-- END COMMENT-->
                            <!-- Left-aligned media object -->
                            <div class="mizan-text-comment col-xs-12 col-sm-12 col-md-12 ">
                                    <div  class=" col-xs-12 mizan-form-comment">
                                            <div class="media-left">
                                            <img src="http://i.pravatar.cc/3050" class="media-object" style="width:60px">
                                            </div>
                                            <div class="media-body">
                                            <h4 class="media-heading">Left-aligned</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                        <div  class="col-xs-12 mizan-form-comment">
                                            <div class="media-left">
                                            <img src="http://i.pravatar.cc/300" class="media-object" style="width:60px">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Left-aligned</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <div  class="col-xs-12 mizan-form-comment">
                                                        <div class="media-left">
                                                        <img src="http://i.pravatar.cc/35" class="media-object" style="width:60px">
                                                        </div>
                                                        <div class="media-body">
                                                        <h4 class="media-heading">Left-aligned</h4>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                        </div>
                                                    </div>
                                        
                                            </div>
                                        </div>
                            </div>

                            </div><!--END  -->

                            <div class="col-xs-12 col-sm-12 col-md-3" id="mizan-container-promo-detailpage">
                                <span class="btn btn-mizan-oren capsule">Promo</span>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 ">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 ">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 ">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
      
                            </div>
        
                            
                    </div>
                </div>
            </div>
        
    <!-- Modal -->
    <div class="modal fade" id="mizan-modal-newsletter" role="dialog">
            <div class="modal-dialog">
            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                <div class="col-md-12">
                    <h1>SUBSCRIBE NEWSLETTER PELANGIMIZAN</h1>
                    <div class="col-md-12">
                        <label for="nama">NAMA</label>
                        <input class="form-control" type="email"  name="mizan-nama" placeholder="mizan">
                    </div>
                    <div class="col-md-9">
                        <label for="nama">E-mail</label>
                        <input class="form-control" type="email"  name="mizan-email" placeholder="pelangi@mizan.id">
                    </div>
                    <div class="col-md-3">
                        <label for="jeniskelamin">Jenis Kelamin:</label>
                        <label class="radio-inline" name="mizan-jeniskelamin">
                                <input type="radio" name="optradio" checked value="l">L
                              </label>
                              <label class="radio-inline">
                                <input type="radio" name="optradio" value="p"> P
                        </label>
                    </div>
                    <div class="col-md-12">
                            <button class="btn btn-mizan-oren" id="submit-newsletter">SUBSCRIBE</button>
                    </div>
                </div>
                </div>
            </div>
            
            </div>
        </div>
        <!--MODAL IMAGE -- >     
        <!-- The Modal -->
        <div id="modal-image" class="modal-image">
            <span class="close-image">&times;</span>
            <img class="modal-image-content" id="img01">
    
        </div>
        <!-- END OF MODAL-->
        </div>      
                    
        <!-- FOOOOOOOOOOOTER-->
            <footer class="container-fluid">
                <div id="mizan-footer-mobile">
                    <a href="#"><img src=<%= require("./image/mizan.png") %>></a>
                    <div>COPYRIGHT @ 2018</div>
                    <span>
                        <a href="">HUBUNGI KAMI |</a>
                        <a href="">PROFIL |</a>
                        <a href="">KARIR</a>
                    </span>
                </div>
                <div id="mizan-footer-tablet">
                    <div class="col-lg-5th" id="mizan-footer-sitemap">
                        <div><a href="">Hubungi Kami</a></div>
                        <div><a href="">Profil</a></div>
                        <div><a href="">Karir</a></div>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-onlinestore">
                        <div>Online Store Kami</div>
                        <div><a href="#"><img src=<%= require("./image/mizanstore.png") %>></a></div>
                        <div><a href="#"><img src=<%= require("./image/mds.png") %>></a></div>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-tengah">
                        <div><a href="#"><img src=<%= require("./image/mizan.png") %>></a></div>
                        <p>Jalan Cinambo No 137, Ujungberung</p>
                        <p>Bandung 4029</p>
                        <p>Tlp 022.7834166 Fax 022.7834316</p>
                        <p>email pelangi [at] mizan.id</p>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-sosmed">
                        <label id="mizan-judul-Newsletter">
                                <span>Newsletter</span>
                        </label>
                        <div>
                            <button class="btn btn-mizan-putih" data-toggle="modal" data-target="#mizan-modal-newsletter">SUBSCRIBE</button>
                        </div>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-shaliha">
                        <div><a href="#"><img src=<%= require("./image/shaliha.png") %>></a></div>
                    </div>
                </div>
            </footer>
        
</body>
</html>