<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(author="dennissnov")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
body
  h1 DENIS
  div.container
    button.btn.btn-lg.btn-primary(type='button') Default
    button.btn.btn-lg.btn-success(type='button') Default
    p
    div.dropdown
      button.btn.btn-lg.btn-succes.dropdown-toggle#dropdonMenu1(data-toggle="dropdown" type='button') dropdown
        span.caret
      ul.dropdown-menu(aria-labelledby="dropdonMenu1")
        li
          a(href="#") Action
        li
          a(href="#") Budi
        li 
          a(href="#") Cinta


