<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /></head>
<body>
    <div>
        <nav class="navbar">
            <div class="">
                <div class="" id="container-logo-main">
                    <a class="navbar-brand" href="#"><img id="logo-mizan" src=<%= require("./image/logo-mobile.png") %> /></a>
                </div>
                <div class="" id="container-logo-second">
                    <a class="navbar-brand" href="#"><img id="logo-keluarga" src=<%= require("./image/keluarga.png") %> /></a>
                </div>
                <div class="navbar-right"  id="container-box-right">
                    <div>
                        <ul class=" list-inline">
                            <li><a href="#"><img src=<%= require("./image/circle-lovequran.png") %>></a></li>
                            <li><a href="#"><img src=<%= require("./image/circle-nabiku.png") %>></a></li>
                            <li><a href="#"><img src=<%= require("./image/circle-halobalita.png") %>></a></li>
                            <li><a href="#"><img src=<%= require("./image/circle-bocahmuslim.png") %>></a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </nav>
        <nav class="navbar"  id="mizan-menu">
            <div class=""> <!--dropdwon-->
                <ul>
                    <li><a href="#"><p>Home</p></a></li>
                    <li class="">
                        <a href="#"> <p>Parenting</p> </a>
                        <div class="dropdown-content">
                            <a href="#"><p>Edukasi Anak</p></a>
                            <a href="#"><p>Dunia Anak</p></a>
                            <a href="#"><p>Kesehatan</p></a>
                        </div>
                    </li>
                    <li class="">
                        <a href="#"><p> Shaliha</p> </a>
                    </li>
                    <li class="">
                        <a href="#"> <p> Aku Jadi Tahu </p></a>
                        <div class="dropdown-content">
                            <a href="#"><p>Edukasi A</p></a>
                            <a href="#"><p>Dunia Ana</p></a>
                            <a href="#"><p>Kesehatan</p></a>
                        </div>
                    </li>
                    <li class="">
                        <a href="#"><p>  Produk</p></a>
                        <div class="dropdown-content">
                            <a href="#"><p> Paket </p></a>
                            <a href="#"><p> Retail</p></a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
<div class="mizan-container">

    <div id="container-carousel">
            <div id="mizan-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                    <li data-target="#mizan-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mizan-carousel" data-slide-to="1"></li>
                    <li data-target="#mizan-carousel" data-slide-to="2"></li>
                    </ol>
                
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                    <div class="item active">
                        <img src=<%= require("./image/haha.jpg") %> alt="Los Angeles">
                    </div>
                
                    <div class="item">
                        <img src=<%= require("./image/slider2.png") %> alt="Los Angeles">
                    </div>
                    
                    <div class="item">
                        <img src=<%= require("./image/slider3.png") %> alt="Los Angeles">
                    </div>
                    </div>
                
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#mizan-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#mizan-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                    </a>
            </div>
    </div>

    <div class="container-fluid mizan-padding-subpage" id="mizan-container-home">    

        
        <div class="row" id="mizan-judul-populer">
            <button class="btn btn-mizan-biru capsule">POPULER</button>
        </div>
        <!-- CONTENT POPULER-->
        <div class="row mizan-row" id="mizan-populer-box">
            <div class="col-lg-6 col-md-6 col-sm-6" id="mizan-populer-1">
                <div class="mizan-wrapper">
                    <div class="mizan-image-card">
                        <div class="mizan-image" style="background-image: url(https://placeimg.com/600/300/any)">
                        </div>
                    </div>
                    <div class="mizan-text-card">
                        <a href=""><h1>Mengajarkan anak cinta membaca</h1></a>
                        <p>Kedekatan Bunda dan si Buah Hati  Kedekatan Bunda dan si 
                                Buah Hati  Kedekatan Bunda dan si Buah Hati .... More</p>
                    </div>
                    <span class="btn btn-mizan-oren btn-kategori">PARENTING</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" id="mizan-populer-2">
                <div class="mizan-wrapper">
                    <div class="mizan-image-card">
                        <div class="mizan-image" style="background-image: url(https://placeimg.com/600/300/any)">
                        </div>
                    </div>
                    <div class="mizan-text-card">
                        <a href=""><h1>Mengajarkan anak cinta membaca</h1></a>
                        <p>Kedekatan Bunda dan si Buah Hati  Kedekatan Bunda dan si 
                                Buah Hati  Kedekatan Bunda dan si Buah Hati .... More</p>
                    </div>
                    <span class="btn btn-mizan-oren btn-kategori">PARENTING</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" id="mizan-populer-3">
                <div class="mizan-wrapper">
                    <div class="mizan-image-card">
                        <div class="mizan-image" style="background-image: url(https://placeimg.com/600/300/any)">
                        </div>
                    </div>
                    <div class="mizan-text-card">
                        <a href=""><h1>Mengajarkan anak cinta membaca</h1></a>
                        <p>Kedekatan Bunda dan si Buah Hati  Kedekatan Bunda dan si 
                                Buah Hati  Kedekatan Bunda dan si Buah Hati .... More</p>
                    </div>
                    <span class="btn btn-mizan-oren btn-kategori">PARENTING</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" id="mizan-populer-4">
                <div class="mizan-wrapper">
                    <div class="mizan-image-card">
                        <div class="mizan-image" style="background-image: url(https://placeimg.com/600/300/any)">
                        </div>
                    </div>
                    <div class="mizan-text-card">
                        <a href=""><h1>Mengajarkan anak cinta membaca</h1></a>
                        <p>Kedekatan Bunda dan si Buah Hati  Kedekatan Bunda dan si 
                                Buah Hati  Kedekatan Bunda dan si Buah Hati .... More</p>
                    </div>
                    <span class="btn btn-mizan-oren btn-kategori">PARENTING</span>
                </div>
            </div>

        </div>
        <!-- END SECTION-->

        <div id="kategoriwrapper">
            <div class="row" id="mizan-judul-kategori">
                <button class="btn btn-mizan-oren capsule">KATEGORI</button>
            </div>
            <div class="row" id="mizan-kategori-box">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="kategori-box-1">
                    <img src="https://placehold.it/300x300/3E9BD5/FFFFFF?text=PARENTING" class="img-responsive" id="kategori-1" alt="Image">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="kategori-box-2"> 
                    <img src="https://placehold.it/300x300/CA0535/FFFFFF?text=SHALIHA" class="img-responsive" id="kategori-2"   alt="Image">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="kategori-box-3">
                    <img src="https://placehold.it/300x300/F6921E/FFFFFF?text=PRODUK" class="img-responsive" id="kategori-3"  alt="Image">
                </div>
                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6" id="kategori-box-4"> 
                    <img src="https://placehold.it/300x300/844FB2/FFFFFF?text=AKU JADITAHU" class="img-responsive"  id="kategori-4"  alt="Image">
                </div>
            </div>
        </div>




        <div class="row mizan-row" id="mizan-video-box">

            <div class="col-lg-8 col-md-12  col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12"  id="mizan-judul-video">
                            <button class="btn btn-mizan-biru capsule">VIDEO</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row ">
                        <div class="owl-carousel owl-theme" id="mizan-owl-video">
                            <div class="item">
                                    <iframe  src="https://www.youtube.com/embed/YjTL4wqPH4E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                                    </iframe>
                                    <h1><a href="">Judul Youtube 1</a></h1>
                            </div>
                            <div class="item">
                                    <iframe  src="https://www.youtube.com/embed/YjTL4wqPH4E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                                    </iframe>
                                    <h1><a href="">Judul Youtube 2</a></h1>
                            </div>
                            <div class="item">
                                    <iframe  src="https://www.youtube.com/embed/YjTL4wqPH4E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                                    </iframe>
                                    <h1><a href="">Judul Youtube 3</a></h1>
                            </div>
                            <div class="item">
                                    <iframe  src="https://www.youtube.com/embed/YjTL4wqPH4E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                                    </iframe>
                                    <h1><a href="">Judul Youtube 4</a></h1>
                            </div>
                            <div class="item">
                                    <iframe  src="https://www.youtube.com/embed/YjTL4wqPH4E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                                    </iframe>
                                    <h1><a href="">Judul Youtube 5</a></h1>
                            </div>
                            <div class="item">
                                    <iframe  src="https://www.youtube.com/embed/YjTL4wqPH4E?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                                    </iframe>
                                    <h1><a href="">Judul Youtube</a></h1>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12" id="mizan-promosi-box">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"  id="mizan-judul-promosi"><button class="btn btn-mizan-biru capsule">PROMOSI</button></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                    <img src="https://placehold.it/180x240?text=IMAGE" class="clikable-image" alt="Image">
                </div>
                <div class="col-lg-6  col-md-6  col-sm-6 col-xs-12">
                    <img src="https://placehold.it/180x240?text=IMAGE" class="clikable-image" alt="Image">
                </div>
            </div>
            <div class="col-xs-12" id="mizan-social-media">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mizan-modal-newsletter" role="dialog">
        <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            <div class="col-md-12">
                <h1>SUBSCRIBE NEWSLETTER PELANGIMIZAN</h1>
                <div class="col-md-12">
                    <label for="nama">NAMA</label>
                    <input class="form-control" type="email"  name="mizan-nama" placeholder="mizan">
                </div>
                <div class="col-md-9">
                    <label for="nama">E-mail</label>
                    <input class="form-control" type="email"  name="mizan-email" placeholder="pelangi@mizan.id">
                </div>
                <div class="col-md-3">
                    <label for="jeniskelamin">Jenis Kelamin:</label>
                    <label class="radio-inline" name="mizan-jeniskelamin">
                            <input type="radio" name="optradio" checked value="l">L
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio" value="p"> P
                    </label>
                </div>
                <div class="col-md-12">
                        <button class="btn btn-mizan-oren" id="submit-newsletter">SUBSCRIBE</button>
                </div>
            </div>
            </div>
        </div>
        
        </div>
    </div>
    <!--MODAL IMAGE -- >     
    <!-- The Modal -->
    <div id="modal-image" class="modal-image">
        <span class="close-image">&times;</span>
        <img class="modal-image-content" id="img01">

    </div>
</div>
    <!-- FOOOOOOOOOOOTER-->
    <footer class="container-fluid">
        <div id="mizan-footer-mobile">
            <a href="#"><img src=<%= require("./image/mizan.png") %>></a>
            <div>COPYRIGHT @ 2018</div>
            <span>
                <a href="">HUBUNGI KAMI |</a>
                <a href="">PROFIL |</a>
                <a href="">KARIR</a>
            </span>
        </div>
        <div id="mizan-footer-tablet">
            <div class="col-lg-5th" id="mizan-footer-sitemap">
                <div><a href="">Hubungi Kami</a></div>
                <div><a href="">Profil</a></div>
                <div><a href="">Karir</a></div>
            </div>
            <div class="col-lg-5th" id="mizan-footer-onlinestore">
                <div>Online Store Kami</div>
                <div><a href="#"><img src=<%= require("./image/mizanstore-v2.png") %>></a></div>
                <div><a href="#"><img src=<%= require("./image/mds.png") %>></a></div>
            </div>
            <div class="col-lg-5th" id="mizan-footer-tengah">
                <div><a href="#"><img src=<%= require("./image/mizan.png") %>></a></div>
                <p>Jalan Cinambo No 137, Ujungberung</p>
                <p>Bandung 4029</p>
                <p>Tlp 022.7834166 Fax 022.7834316</p>
                <p>email pelangi [at] mizan.id</p>
            </div>
            <div class="col-lg-5th" id="mizan-footer-sosmed">
                <label id="mizan-judul-Newsletter">
                        <span>Newsletter</span>
                </label>
                <div>
                    <button class="btn btn-mizan-putih" data-toggle="modal" data-target="#mizan-modal-newsletter">SUBSCRIBE</button>
                </div>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
            <div class="col-lg-5th" id="mizan-footer-shaliha">
                <div><a href="#"><img src=<%= require("./image/shaliha.png") %>> <span> Kontak Kami</span></a></div>

            </div>
        </div>
    </footer>

</body>
</html>