<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /></head>
<body>
        <div>
                <nav class="navbar">
                    <div class="">
                        <div class="" id="container-logo-main">
                            <a class="navbar-brand" href="#"><img id="logo-mizan" src=<%= require("./image/logo-mobile.png") %> /></a>
                        </div>
                        <div class="" id="container-logo-second">
                            <a class="navbar-brand" href="#"><img id="logo-keluarga" src=<%= require("./image/keluarga.png") %> /></a>
                        </div>
                        <div class="navbar-right"  id="container-box-right">
                            <div>
                                <ul class=" list-inline">
                                    <li><a href="#"><img src=<%= require("./image/circle-lovequran.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-nabiku.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-halobalita.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-bocahmuslim.png") %>></a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </nav>
                <nav class="navbar"  id="mizan-menu">
                    <div class=""> <!--dropdwon-->
                        <ul>
                            <li><a href="#"><p>Home</p></a></li>
                            <li class="">
                                <a href="#"> <p>Parenting&nbsp</p> </a>
                                <div class="dropdown-content">
                                    <a href="#"><p> Edukasi Anak</p></a>
                                    <a href="#"><p>Dunia Anak</p></a>
                                    <a href="#"><p>Kesehatan</p></a>
                                </div>
                            </li>
                            <li class="">
                                <a href="#"><p> &nbsp Shaliha &nbsp</p> </a>
                            </li>
                            <li class="">
                                <a href="#"> <p> Aku Jadi &nbsp <br>Tahu </p></a>
                                <div class="dropdown-content">
                                    <a href="#"><p>Edukasi A</p></a>
                                    <a href="#"><p>Dunia Ana</p></a>
                                    <a href="#"><p>Kesehatan</p></a>
                                </div>
                            </li>
                            <li class="">
                                <a href="#"><p>  Produk</p></a>
                                <div class="dropdown-content">
                                    <a href="#"><p> Paket </p></a>
                                    <a href="#"><p> Retail</p></a>
          
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
        </div>
        <ul class="breadcrumb ">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pictures</a></li>
                <li><a href="#">Summer 15</a></li>
                <li>Italy</li>
              </ul>
        <!-- STARTS HERE -->
        <div class="container-fluid mizan-container-subpage">
            <div class="row" id="mizan-header-image">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/1920x350" alt="">
            </div>
            <div class="row  mizan-padding-subpage text-center" id="mizan-id-profilpage" >
                    <h1>Tentang Pelangi Mizan</h1>
                    <div>
                        <p class="text-profile">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

                    </div>
                    <div class="text-center"><h3>Team</h> </div>
                    <div class="row" id="mizan-team">
                            <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div class="card">
                                        <img src="http://i.pravatar.cc/340" alt="Avatar" style="width:100%">
                                        <div class="card-text">
                                            <h4><b>John Doe</b></h4> 
                                            <p>Architect & Engineer</p> 
                                        </div>
                                    </div>
                                    <div class=" card">
                                        <img src="http://i.pravatar.cc/301" alt="Avatar" style="width:100%">
                                        <div class="card-text">
                                            <h4><b>John Doe</b></h4> 
                                            <p>Architect & Engineer</p> 
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="http://i.pravatar.cc/320" alt="Avatar" style="width:100%">
                                        <div class="card-text">
                                            <h4><b>John Doe</b></h4> 
                                            <p>Architect & Engineer</p> 
                                        </div>
                                    </div>
                                    <div class=" card">
                                        <img src="http://i.pravatar.cc/431" alt="Avatar" style="width:100%">
                                        <div class="card-text">
                                            <h4><b>John Doe</b></h4> 
                                            <p>Architect & Engineer</p> 
                                        </div>
                                    </div>
                 
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="card">
                                        <img src="http://i.pravatar.cc/600" alt="Avatar" style="width:100%">
                                        <div class="card-text">
                                            <h4><b>John Doe</b></h4> 
                                            <p>Architect & Engineer</p> 
                                        </div>
                                    </div>
                                    <div class=" card">
                                        <img src="http://i.pravatar.cc/361" alt="Avatar" style="width:100%">
                                        <div class="card-text">
                                            <h4><b>John Doe</b></h4> 
                                            <p>Architect & Engineer</p> 
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="http://i.pravatar.cc/526" alt="Avatar" style="width:100%">
                                        <div class="card-text">
                                            <h4><b>John Doe</b></h4> 
                                            <p>Architect & Engineer</p> 
                                        </div>
                                    </div>
                                    <div class=" card">
                                        <img src="http://i.pravatar.cc/362" alt="Avatar" style="width:100%">
                                        <div class="card-text">
                                            <h4><b>John Doe</b></h4> 
                                            <p>Architect & Engineer</p> 
                                        </div>
                                    </div>
                 
                                </div>
                    </div>
                    <div class="col-lg-12">
                        <p class="text-profile">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                        <p class="text-profile">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

                    </div>

            </div>

        </div>

        <div class="container-fluid text-center">
                <div class="mapouter"><div class="gmap_canvas">
                    <iframe width="1920" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=pt%20mizan&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe><a href="https://www.embedgooglemap.net">
                    </a>
                </div>
        
        </div>
         
        <!-- ENDS HERE --> 
        <!-- FOOOOOOOOOOOTER-->
            <footer class="container-fluid">
                <div id="mizan-footer-mobile">
                    <a href="#"><img src=<%= require("./image/mizan.png") %>></a>
                    <div>COPYRIGHT @ 2018</div>
                    <span>
                        <a href="">HUBUNGI KAMI |</a>
                        <a href="">PROFIL |</a>
                        <a href="">KARIR</a>
                    </span>
                </div>
                <div id="mizan-footer-tablet">
                    <div class="col-lg-5th" id="mizan-footer-sitemap">
                        <div><a href="">Hubungi Kami</a></div>
                        <div><a href="">Profil</a></div>
                        <div><a href="">Karir</a></div>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-onlinestore">
                        <div>Online Store Kami</div>
                        <div><a href="#"><img src=<%= require("./image/mizanstore.png") %>></a></div>
                        <div><a href="#"><img src=<%= require("./image/mds.png") %>></a></div>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-tengah">
                        <div><a href="#"><img src=<%= require("./image/mizan.png") %>></a></div>
                        <p>Jalan Cinambo No 137, Ujungberung</p>
                        <p>Bandung 4029</p>
                        <p>Tlp 022.7834166 Fax 022.7834316</p>
                        <p>email pelangi [at] mizan.id</p>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-sosmed">
                        <label id="mizan-judul-Newsletter">
                                <span>Newsletter</span>
                        </label>
                        <div>
                            <button class="btn btn-mizan-putih" data-toggle="modal" data-target="#mizan-modal-newsletter">SUBSCRIBE</button>
                        </div>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-shaliha">
                        <div><a href="#"><img src=<%= require("./image/shaliha.png") %>></a></div>
                    </div>
                </div>
            </footer>
        
</body>
</html>