<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /></head>
<body>
        <div>
                <nav class="navbar">
                    <div class="">
                        <div class="" id="container-logo-main">
                            <a class="navbar-brand" href="#"><img id="logo-mizan" src=<%= require("./image/logo-mobile.png") %> /></a>
                        </div>
                        <div class="" id="container-logo-second">
                            <a class="navbar-brand" href="#"><img id="logo-keluarga" src=<%= require("./image/keluarga.png") %> /></a>
                        </div>
                        <div class="navbar-right"  id="container-box-right">
                            <div>
                                <ul class=" list-inline">
                                    <li><a href="#"><img src=<%= require("./image/circle-lovequran.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-nabiku.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-halobalita.png") %>></a></li>
                                    <li><a href="#"><img src=<%= require("./image/circle-bocahmuslim.png") %>></a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </nav>
                <nav class="navbar"  id="mizan-menu">
                    <div class=""> <!--dropdwon-->
                        <ul>
                            <li><a href="#"><p>Home</p></a></li>
                            <li class="">
                                <a href="#"> <p>Parenting&nbsp</p> </a>
                                <div class="dropdown-content">
                                    <a href="#"><p> Edukasi Anak</p></a>
                                    <a href="#"><p>Dunia Anak</p></a>
                                    <a href="#"><p>Kesehatan</p></a>
                                </div>
                            </li>
                            <li class="">
                                <a href="#"><p> &nbsp Shaliha &nbsp</p> </a>
                            </li>
                            <li class="">
                                <a href="#"> <p> Aku Jadi &nbsp <br>Tahu </p></a>
                                <div class="dropdown-content">
                                    <a href="#"><p>Edukasi A</p></a>
                                    <a href="#"><p>Dunia Ana</p></a>
                                    <a href="#"><p>Kesehatan</p></a>
                                </div>
                            </li>
                            <li class="">
                                <a href="#"><p>  Produk</p></a>
                                <div class="dropdown-content">
                                    <a href="#"><p> Paket </p></a>
                                    <a href="#"><p> Retail</p></a>
          
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        
            <div class="container-fluid mizan-padding-subpage" id="mizan-container-home">    
                <h1 class="text-center">PARENTING</h1>
                <div class="row" id="mizan-container-subpage">
                    <div class=" col-xs-12 col-md-12 col-lg-12 ">
                            <div class="col-xs-12 cols-sm-12 col-md-9 col-lg-9">
                                <div class="row mizan-container-news"> <!--START -->
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="crop-image">
                                        <a href="#">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7" id="crop-news">
                                        <a href=""><h1>Project Two</h1></a>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                        <span id="mizan-author">Author</span>
            
                                    </div>
                                </div><!--END mizan-container-news -->
                                <div class="row mizan-container-news"> <!--START -->
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="crop-image">
                                        <a href="#">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7" id="crop-news">
                                        <a href=""><h1>Project Two</h1></a>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                        <span id="mizan-author">Author</span>
            
                                    </div>
                                </div><!--END mizan-container-news -->
                                <div class="row mizan-container-news"> <!--START -->
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="crop-image">
                                        <a href="#">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7" id="crop-news">
                                        <a href=""><h1>Project Two</h1></a>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                        <span id="mizan-author">Author</span>
            
                                    </div>
                                </div><!--END mizan-container-news -->
                                <div class="row mizan-container-news"> <!--START -->
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="crop-image">
                                        <a href="#">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7" id="crop-news">
                                        <a href=""><h1>Project Two</h1></a>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                        <span id="mizan-author">Author</span>
            
                                    </div>
                                </div><!--END mizan-container-news -->
                                <div class="row mizan-container-news"> <!--START -->
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="crop-image">
                                        <a href="#">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7" id="crop-news">
                                        <a href=""><h1>Project Two</h1></a>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                        <span id="mizan-author">Author</span>
            
                                    </div>
                                </div><!--END mizan-container-news -->
                                <div class="row mizan-container-news"> <!--START -->
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="crop-image">
                                        <a href="#">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7" id="crop-news">
                                        <a href=""><h1>Project Two</h1></a>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                        <span id="mizan-author">Author</span>
            
                                    </div>
                                </div><!--END mizan-container-news -->
                                <div class="row mizan-container-news"> <!--START -->
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="crop-image">
                                        <a href="#">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7" id="crop-news">
                                        <a href=""><h1>Project Two</h1></a>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                        <span id="mizan-author">Author</span>
            
                                    </div>
                                </div><!--END mizan-container-news -->
                                <div class="row mizan-container-news"> <!--START -->
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" id="crop-image">
                                        <a href="#">
                                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7" id="crop-news">
                                        <a href=""><h1>Project Two</h1></a>
            
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                                        <span id="mizan-author">Author</span>
            
                                    </div>
                                </div><!--END mizan-container-news -->
                
                                <div class="text-center">
                                    <ul class="pagination pagination-sm">
                                            <li><a href="#">«</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div><!--END  -->

                            <div class="col-xs-12 col-sm-12 col-md-3" id="mizan-container-promo">
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 ">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 ">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 ">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 ">
                                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/150x200" alt="">
                                </div>
                            </div>
        
                            
                    </div>
                </div>
            </div>
        
        
        
        
        
            <!-- Modal -->
            <div class="modal fade" id="mizan-modal-newsletter" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="col-md-12">
                                    <h1 class="judul-modal">SUBSCRIBE NEWSLETTER PELANGIMIZAN</h1>
                                    <div class="col-md-9">
                                        <input class="form-control" type="email"  name="mizan-newsletter">
                                    </div>
                                    <div class="col-md-3">
                                            <button class="btn btn-mizan-oren">SUBSCRIBE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        
                    
        <!-- FOOOOOOOOOOOTER-->
            <footer class="container-fluid">
                <div id="mizan-footer-mobile">
                    <a href="#"><img src=<%= require("./image/mizan.png") %>></a>
                    <div>COPYRIGHT @ 2018</div>
                    <span>
                        <a href="">HUBUNGI KAMI |</a>
                        <a href="">PROFIL |</a>
                        <a href="">KARIR</a>
                    </span>
                </div>
                <div id="mizan-footer-tablet">
                    <div class="col-lg-5th" id="mizan-footer-sitemap">
                        <div><a href="">Hubungi Kami</a></div>
                        <div><a href="">Profil</a></div>
                        <div><a href="">Karir</a></div>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-onlinestore">
                        <div>Online Store Kami</div>
                        <div><a href="#"><img src=<%= require("./image/mizanstore.png") %>></a></div>
                        <div><a href="#"><img src=<%= require("./image/mds.png") %>></a></div>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-tengah">
                        <div><a href="#"><img src=<%= require("./image/mizan.png") %>></a></div>
                        <p>Jalan Cinambo No 137, Ujungberung</p>
                        <p>Bandung 4029</p>
                        <p>Tlp 022.7834166 Fax 022.7834316</p>
                        <p>email pelangi [at] mizan.id</p>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-sosmed">
                        <label id="mizan-judul-Newsletter">
                                <span>Newsletter</span>
                        </label>
                        <div>
                            <button class="btn btn-mizan-putih" data-toggle="modal" data-target="#mizan-modal-newsletter">SUBSCRIBE</button>
                        </div>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                    <div class="col-lg-5th" id="mizan-footer-shaliha">
                        <div><a href="#"><img src=<%= require("./image/shaliha.png") %>></a></div>
                    </div>
                </div>
            </footer>
        
</body>
</html>