$brand-success : red !default;

@font-face {
    font-family: 'petita';
    src: url('../fonts/PetitaMedium.ttf');
}


$color-main : #3e9bd5;
$color-oren : #F6921E;
$color-judul : #7E7E7E;
$color-shaddow : rgb(104, 104, 104);
$color-mizan : (
    merahjambu: #F46864,
    oren : #F6921E,
    biru : #3E9BD5,
    merah : #CA0535,
    ungu : #844FB2,
    judul : #7E7E7E,
    putih : white,

);

$mobile-breakpoint : "screen and (min-width : 480px)";
$tablet-breakpoint : "screen and (min-width : 768px)";
$desktop-breakpoint : "screen and (min-width : 1024px)";
$bigdesktop-breakpoint   : "screen and (min-width : 1366px)";
$xtrabigdesktop-breakpoint   : "screen and (min-width : 1920px)";
//SCROLL

::-webkit-scrollbar{

    width: 20px;

    &-track {
        border-radius: 20px;
        background: white;
        box-shadow: inset 0 0 20px  grey; 

    }
    &-thumb {
        border-radius: 20px;
        background: $color-main;

        &:hover{
            background: $color-oren;         
        }
    }
}

html {
    height: 100%;
    overflow-x: hidden;


}
body {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    h1 {
        color: map-get($map: $color-mizan, $key: judul );
    }
   // font-family: 'Josefin Sans', sans-serif;
    font-family: 'petita', sans-serif;
}

.container-fluid {
    padding: 0px;
}
@import "~animate.css/animate.css";
$fa-font-path: '~font-awesome/fonts'; 
@import '~font-awesome/scss/font-awesome.scss';
//BASIC

///PADDING

.mizan-padding {
    padding: 0px 10px;
    @media #{$mobile-breakpoint}{
        padding: 0px 15px;
    }
    @media #{$tablet-breakpoint}{
        padding: 0px 40px;
    }
    @media #{$desktop-breakpoint}{
        padding: 0px 35px;
    }
    @media #{$bigdesktop-breakpoint}{
        padding: 0px 55px;
    }
    @media #{$xtrabigdesktop-breakpoint}{
        padding: 0px 277px;
        
    }
}
.mizan-padding-subpage {
    padding: 0px 10px;
    @media #{$mobile-breakpoint}{
        padding: 0px 15px;
    }
    @media #{$tablet-breakpoint}{
        padding: 0px 40px;
    }
    @media #{$desktop-breakpoint}{
        padding: 0px 35px;
    }
    @media #{$bigdesktop-breakpoint}{
        padding: 0px 150px;
    }
    @media #{$xtrabigdesktop-breakpoint}{
        padding: 0px 277px;
        
    }
}

//CUSTOMIZE BUTTON
//BUTTON JUDUL KATEGORI
.capsule {
    border-radius: 25px 25px 25px 25px;
    min-width: 125px;
}
@each $warna, $hex in $color-mizan {
    .btn-mizan-#{$warna} {
        background: $hex;
       // margin: 13px 0;
        margin: 25px 0;
        color: white;
        font-weight: bold;
    }
}

//MODAL

//MODAL
.modal-content{
    margin-top: 30%;
    margin-left: 10%;
    overflow: hidden;

    //border-radius: 50px;
    width: 80%;
    @media #{$desktop-breakpoint} {
        margin-left: 15%;
    }
    @media #{$bigdesktop-breakpoint} {
        margin-left: 15%;
    }
}
#submit-newsletter {
    margin-top: 20px;
}
.modal-body {
    width: 100%;
    height: auto;
    color: white;
    overflow: hidden;

    background: $color-main;
    //border-radius: 30px;
    & h1 {
        color: white;
    }
    & .col-md-12 {
        text-align: center;
        padding: 0;
        & .col-md-9 {
            padding: 0;
        }
        & .col-md-3 {
            padding:0;
            @media #{$tablet-breakpoint} {
                padding-left: 0px;
                padding-top: 5px;
            }
            @media #{$desktop-breakpoint} {
                padding-left: 10px;
                padding-top: 0px;
            }
        }
    }
    & input {
        width: 100%;
    }
    & .btn {
        margin: 0;
        width: 100%;
    }
}

.judul-modal {
    font-size: 36px;
    margin-bottom: 20px;
}

//
//PROMO
#mizan-container-promo {
    div {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
}


//BREADCRUMBN
//colors
$color_gallery_approx: #eee;
$black: black;
$color_science_blue_approx: #0275d8;
$color_congress_blue_approx: #01447e;
.breadcrumb {
    background: none;
}
ul.breadcrumb {
	padding: 20px 30px;
	list-style: none;
    @media #{$tablet-breakpoint} {
        padding: 10px 55px;
    }
	li {
		display: inline;
		font-size: 12px;
		a {
			color: $color_science_blue_approx;
			text-decoration: none;
			&:hover {
				color: $color_congress_blue_approx;
				text-decoration: underline;
			}
		}
		+ li:before {
			padding: 8px;
			color: $black;
			content: "/\00a0";
		}
	}
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-marpad {
    margin: 0;
    padding: 0;
}


//CLASS CLICK IMAGE
.modal-image {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-image-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 500px;
    height: 100%;
    @media only screen and(max-width : 700px){
        width: 100%;
    }
}
/* The Close Button */

.close-image {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    &:hover, &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }
/* Add Animation */

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }
  
    to {
      -webkit-transform: scale(1);
    }
  }
  
  
  @keyframes zoom {
    from {
      transform: scale(0);
    }
  
    to {
      transform: scale(1);
    }
  }
  